<a href="https://colab.research.google.com/github/iMarupakula/iMarupakula/blob/main/TripAdvisor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# utilities
import re
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Uni_Project/London_reviews.csv')
df.sample(5)

<ipython-input-7-7eed06b71d92>:1: DtypeWarning: Columns (0,1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Uni_Project/London_reviews.csv')

,Unnamed: 0,parse_count,restaurant_name,rating_review,sample,review_id,title_review,review_preview,review_full,date,city,url_restaurant,author_id
521632,523274,523275,ROKA_Mayfair,4.0,Positive,review_426037115,Posh and limited but good selection of veg food,Ambience and food were good.. But they should ...,Ambience and food were good.. But they should ...,"October 8, 2016",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_287773
302034,302917,302918,Sketch_Lecture_Room_and_Library,2.0,Negative,review_187544354,terrible attitude when we found a hair in our ...,My wife and I treated ourselves to a posh meal...,My wife and I treated ourselves to a posh meal...,"December 13, 2013",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_207530
838119,840983,840984,Cecconi_s_Mayfair,5.0,Positive,review_226739111,Burrata to die for!!!,"We splurged for an excellent, trendy meal whil...","We splurged for an excellent, trendy meal whil...","September 3, 2014",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_386592
560409,562218,562219,Dirty_Bones_Carnaby,4.0,Positive,review_449519883,Great pre-Pantomime spot,"I'd eaten at Dirty Bones in Kensington before,...","I'd eaten at Dirty Bones in Kensington before,...","January 5, 2017",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_32399
632222,634263,634264,Veeraswamy,4.0,Positive,review_155479027,Fantastic lunch - great food and service,"Had a long, very enjoyable lunch here on Satur...","Had a long, very enjoyable lunch here on Satur...","March 24, 2013",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_13004

In [ ]:
df.head()

,Unnamed: 0,parse_count,restaurant_name,rating_review,sample,review_id,title_review,review_preview,review_full,date,city,url_restaurant,author_id
0,0,1,Cocotte_Notting_Hill,5.0,Positive,review_771556136,JUST PERFECT,I was away for couple of months and I am so h...,I was away for couple of months and I am so ha...,"September 23, 2020",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_0
1,1,2,Cocotte_Notting_Hill,5.0,Positive,review_771555883,"Quality food, Food travels well, Excellent cus...",I recently ordered over the phone from Cocotte...,I recently ordered over the phone from Cocotte...,"September 23, 2020",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_1
2,2,3,Cocotte_Notting_Hill,5.0,Positive,review_770716943,Came here because we missed,Came here because we missed our table at Farma...,Came here because we missed our table at Farma...,"September 17, 2020",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_2
3,3,4,Cocotte_Notting_Hill,5.0,Positive,review_770027676,Great service,My first time in cocotte and was amazed by how...,My first time in cocotte and was amazed by how...,"September 12, 2020",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_3
4,4,5,Cocotte_Notting_Hill,5.0,Positive,review_766307138,𝓔𝔁𝓬𝓮𝓵𝓵𝓮𝓷𝓽 𝓕𝓪𝓻𝓶-𝓽𝓸-𝓣𝓪𝓫𝓵𝓮 𝓡𝓸𝓽𝓲𝓼𝓼𝓮𝓻𝓲𝓮,A healthy-homemade dishes using farm-grown ing...,A healthy-homemade dishes using farm-grown ing...,"August 22, 2020",London_England,https://www.tripadvisor.com/Restaurant_Review-...,UID_4

In [ ]:
df.columns

Index(['Unnamed: 0', 'parse_count', 'restaurant_name', 'rating_review',
       'sample', 'review_id', 'title_review', 'review_preview', 'review_full',
       'date', 'city', 'url_restaurant', 'author_id'],
      dtype='object')

In [ ]:
print('length of data is', len(df))

length of data is 996567

In [ ]:
df.shape

(996567, 13)

In [ ]:
df.info() #df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996567 entries, 0 to 996566
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       996567 non-null  object
 1   parse_count      996558 non-null  object
 2   restaurant_name  996558 non-null  object
 3   rating_review    996558 non-null  object
 4   sample           996558 non-null  object
 5   review_id        996558 non-null  object
 6   title_review     996552 non-null  object
 7   review_preview   996552 non-null  object
 8   review_full      996546 non-null  object
 9   date             996546 non-null  object
 10  city             996546 non-null  object
 11  url_restaurant   996546 non-null  object
 12  author_id        996546 non-null  object
dtypes: object(13)
memory usage: 98.8+ MB

In [ ]:
df.dtypes

Unnamed: 0         object
parse_count        object
restaurant_name    object
rating_review      object
sample             object
review_id          object
title_review       object
review_preview     object
review_full        object
date               object
city               object
url_restaurant     object
author_id          object
dtype: object

In [ ]:
np.sum(df.isnull().any(axis=1))

21

In [ ]:
df.isnull().sum()

Unnamed: 0          0
parse_count         9
restaurant_name     9
rating_review       9
sample              9
review_id           9
title_review       15
review_preview     15
review_full        21
date               21
city               21
url_restaurant     21
author_id          21
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.describe().T

,count,unique,top,freq
Unnamed: 0,996567,996567,0,1
parse_count,996558,996558,1,1
restaurant_name,996558,1833,Oxo_Tower_Restaurant_Bar_and_Brasserie,7018
rating_review,996558.0,11.0,5.0,431563.0
sample,996558,8,Positive,831692
review_id,996558,996556,review_761525247,2
title_review,996552,649951,Excellent,3873
review_preview,996552,996189,If you are looking for the fantastic rib eye o...,3
review_full,996546,996253,Except for waiting in a long line... the taste...,3
date,996546,4591,"February 13, 2017",960
city,996546,1,London_England,996546
url_restaurant,996546,100736,https://www.tripadvisor.com/Restaurant_Review-...,10
author_id,996546,502226,UID_3787,368

In [ ]:
# checking for unique entries in each column
df.nunique()

Unnamed: 0         996567
parse_count        996558
restaurant_name      1833
rating_review          11
sample                  8
review_id          996556
title_review       649951
review_preview     996189
review_full        996253
date                 4591
city                    1
url_restaurant     100736
author_id          502226
dtype: int64

In [ ]:
print('Count of columns in the data is:  ', len(df.columns))
print('Count of rows in the data is:  ', len(df))

Count of columns in the data is:   13
Count of rows in the data is:   996567

In [ ]:
df['rating_review'].unique()

array([5.0, 1.0, 4.0, 3.0, 2.0, '4.0', '5.0', '3.0', '2.0', '1.0',
       'London_England', nan], dtype=object)